
*{
  margin: 0;
  padding: 0;
}

.body {
    font-family: sans-serif; 
    background-color: rgba(132,2,153,0.75);
    margin: 40px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(132,2,153,0.75);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.titulo {
    text-align: center;
    font-family: sans-serif;
} 
  
.explicacion{
    font-family: sans-serif;
    text-align: justify;
}

.regresa {
    font-family: sans-serif;
    text-align: justify;
}

.logo{
    display: flex;
    justify-content: center;
}
  
.a:hover {
    text-decoration: underline;
}

.logo:hover img {
  transform: rotate(10deg);
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}

