*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #222222;
	height: 100vh;
	width: 100vw;
}
header{
	color: rgba(255, 255, 255, 0.671);
}
.mobile-footer{
	background-color: #8a2be2;
	height: 13%;
}


/* ---------------- Admin Page ------------*/

.admin-buttons{
	aspect-ratio: 1/1;
	width: 80px;
	font-size: 1em;
	color: #ffffffab;
	background-color: #222222ce;
	border-radius: 10%;
	text-decoration: none;
}
.admin-buttons i {
	font-size: 2em;
	font-weight: 900;
}
.modal-content{
    background-color:#222222;
    color:#8a2be2;
}
.addSong-btn{
	background-color: #8a2be2;
	color: #ffffffab;
}
/* table #songsTable td {
	text-align: center	;
} */