/*Colores:

Negro:`#16191c`

Gris: #A1A0A1

violeta: #840299

violeta clarito: #DC00FF
*/



*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Ysabeau SC', sans-serif;
}
body{
	background-color: #16191c;
	height: 100vh;
	/* width: 100vw; */
}
header{
	color: rgba(255, 255, 255, 0.671);
}
.mobile-footer{
	background-color: #16191cd2;
	height: 110px;
	width: 100vw;
	/* border-radius: 15px; */
	position: fixed;
	bottom: 0;
}


/* ---------------- Admin Page ------------*/

.footer-buttons{
	aspect-ratio: 1/1;
	width: 70px;
	font-size: .8em;
	font-weight: 700;
	color: #DC00FF;
	background-color: #a1a0a131;
	border-radius: 10%;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}
.footer-buttons i {
	font-size: 2em;
	font-weight: 900;
}
.modal-content{
    background-color:#A1A0A1;
    color:#16191c;
}
.addSong-btn, .searchSong-btn{
	background-color: #840299;
	color: #ffffffab;
}
/* table #songsTable td {
	text-align: center	;
} */

.songsTableSection{
	width: 100vw;
	padding-bottom: 110px;
	background-color: #16191c;
}

/*-------------Home Page------------*/

.main-section{
	padding-bottom: 110px;
	background-color: #85029965;
	min-height: 80vh;
	color: aliceblue;
}
.main-section .modal-content{
	background-color: #312138;
	color: aliceblue;
	border: solid 4px #840299;
}
.main-section .modal-content strong{
	font-size: 1.2em;
	color: #DC00FF;
}
.main-section .modal-content .song-thumbnail{
	height: 150px;
	width: 100%;
	background-size: contain;
}
.cards-section, .aside-menu {
	background-color: #a1a0a131;
	border-radius: 10px;
}
.aside-menu{
	max-width: 90px;
}
.aside-buttons {
	width: 60px;
	aspect-ratio: 1/1;
	color: rgb(220, 0, 255);
	background-color: #16191c86;
	border-radius: 10%;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	box-shadow: 0px 5px 10px 0px #DC00FF;            
}
.aside-buttons:hover{
	transform: translateY(-5px);
	box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.nav-item .log-out,.log-out{
	color: red;
}
.nav-item a{
	color: rgb(220, 0, 255);
	text-decoration: none;
}
.nav-item i {
	font-size: 2em;
}
.nav-item p {
	font-size: 1em;
}
.custom-tooltip {
	--bs-tooltip-bg: #840299;
	--bs-tooltip-color: var(--bs-white);
}
.admin-button{
	font-size: .8em;
}


/*--------- Song cards ----------*/
.song-card{
	height: 100px;
	max-width: 350px;
	padding: 0;
	background-color: #16191c93;
	border: 1px solid #DC00FF;
	color: aliceblue;
}
.song-thumbnail{
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}
.song-specs{
	color: aliceblue;
	font-size: 1em;
}
.song-options i{
	color: #DC00FF;
	font-size: 1.2em;
	cursor: pointer;
}
